{% extends 'base.twig' %}
{% block title %} Торги {% endblock %}
{% block content %}
    <h2 style="text-align: center">Торги</h2>
    <div class="container text-center mt-4">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Номер дела</th>
                    <th scope="col">Лот</th>
                    <th scope="col">Должник</th>

                </tr>
                </thead>
                <tbody class="tableBody">
                {% for d in data %}
                    <tr>
                        <th scope="row">
                            <a href="http://parserui.loc/trades/trade/{{ d.guid }}/{{ d.lot }}" target="_blank">{{ d.num }}
                            </a></th>
                        <td>{{ d.lot }}</td>
                        <td>{{ d.debtor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}